[Unit]
Description=TODD Service
After=network.target

[Service]
WorkingDirectory=/home/vagrant
SyslogIdentifier=TODD
ExecStart=/bin/sh -c "exec java -Djava.rmi.server.hostname={{ private_network_address }} -Dcom.sun.management.jmxremote.port=10500 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -cp /home/vagrant/todd.jar net.jnjmx.todd.Server"
User=vagrant
Type=simple

[Install]
WantedBy=multi-user.target
